

body {
  font-family: 'Noto Sans', sans-serif;
}

h5 {
  line-height: 1.5;
}

input.form-control{
    border-radius: 0%;
}

p {
  font-size: 15px;
}

.btn{
  border-radius: 0%;
}

.btn-checkout{
  background-color: #C4A101;
  color: black;
  padding: 12px;
  width: 100%;
}

.btn-add-to-cart{
  border: 1px black solid;
  background-color: white;
  color: black;
  padding: 12px;
  width: 100%;
}

.container-fluid{
  width: 82%;
}

.div-shop{
  width: 70%;
}

.div-shop .btn {
  text-align: center;
  margin: 5px 0;
}

.product-details *{
  text-align: left;
}

.product-div-1 {
  margin-bottom: 20px;
}

.product-image-outer{
  height: 60%;
  height: 60vh;
}

.product-image {
  height: 100%;
}

.product-image img {
  display: block;
  margin: auto;
  max-width: 100%;
  max-height: 100%;
}

table#cart > tbody > tr > td {
  padding: 25px 0px;
  display: table-cell;
  vertical-align: middle;
}

table#cart > tfoot > tr > td {
  padding: 25px 0px;
  display: table-cell;
  vertical-align: middle;
}

table#cart tbody tr td {
  border-top: none;
}

table#cart tbody td a {
  color: inherit;
}

table#cart tbody td a:link {
  color: inherit;
  text-decoration: none;
}

table#cart tbody td a:hover {
  color: inherit;
  text-decoration: none;
}

table#cart tbody td a:visited {
  color: inherit;
  text-decoration: none;
}

table#cart tbody td a:active {
  color: inherit;
  text-decoration: none;
}

table#cart tbody tr td button{
   background:transparent;
}

table#check-cart tbody tr td {
  border-top: none;
}

table#check-cart tbody td a {
  color: inherit;
}

table#check-cart tbody td a:link {
  color: inherit;
  text-decoration: none;
}

table#check-cart tbody td a:hover {
  color: inherit;
  text-decoration: none;
}

table#check-cart tbody td a:visited {
  color: inherit;
  text-decoration: none;
}

table#check-cart tbody td a:active {
  color: inherit;
  text-decoration: none;
}

table#check-cart tbody tr td button{
   background:transparent;
}

table#summary thead tr th {
  background-color: #C4A101;
}

table#summary tbody tr td {
  padding-left: 20px;
  border-top: none;
}

table#summary tbody tr td h5{
  text-align: left;
}

table#summary tbody tr td h4{
  text-align: left;
}

#summary-total{
  border-top: 1px #DDDDDD solid;
}

#summary-header{
  text-align: center;
}

/* IDS */
#discount {
  background-color: #F8F8F8;
  padding: 50px;
}

#discount-btn {
  background-color: #C4A101;
}

#summary {
  padding: 5px 20px;
}

/* Empty cart */
.div-empty{
  margin:  20px auto;
  display: table;
}

.div-empty img{
  max-height: 150px;
}

.div-go-back{
  margin: 20px auto;
  display: table;
}

/* Checkout */

button h3{
  color: #444;
}

.card{
  margin-bottom: 20px;
}

.div-steps{
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  margin: 20px 0;
}

.div-steps > div{
  padding: 20px 50px;
}

@media screen and (max-width: 700px) {
  h3 > small{
    display: none;
  }
  .container-fluid{
    width: 98%;
  }
  .div-steps > div{
    padding: 20px 10px;
  }
}


.div-check-cart{
  margin: 20px 0;
  padding: 20px 10px;
}

p.subtitle {
  color: #777;
}

.btn-coll{
  border: none;
  text-decoration: none;
  width: 100%;
}

.btn-coll.collapsed {
  border-bottom: 1px solid #EAEAEA;
}

.btn-coll:hover{
  text-decoration: none;
}

.btn-coll:active{
  text-decoration: none;
}

.btn-coll:focus{
  text-decoration: none;
}

#collapseThree{
  margin-bottom: 30px;
}

#check-proceed1{
  background-color: #c19349;
  width: 40%;
  padding: 5px 0px;
}

.collapse {
  border-bottom: 1px solid #EAEAEA;
}

.radio-form > div{
  padding: 10px 20px;
}

.custom-radio{
  border: 2px solid #EAEAEA;
  border-bottom: 1px solid #EAEAEA
}


.custom-radio > label{
  width: 94%;
}


.shadow{
  box-shadow: 0 0.46875rem 2.1875rem rgba(63, 106, 216, 0.03), 0 0.9375rem 1.40625rem rgba(63, 106, 216, 0.03), 0 0.25rem 0.53125rem rgba(63, 106, 216, 0.05), 0 0.125rem 0.1875rem rgba(63, 106, 216, 0.03);
  border-radius: 1%;
  padding: 20px;
  background-color: white;
}

.fa.fa-check-circle-o{
  color: #004F00;
  display: none;
}

.fa.fa-times-circle{
  color: #C4A101;
}


/* Payment div */

.div-pay{
    margin: auto;
    padding: 20px;
    border: 2px solid #214E11;
    background: #F6F6EE;
}

.order-div{
  display: none;
}

.txt-transaction{
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 700px) {
  .txt-transaction{
    width: 85%;
    margin: auto;
  }
}

img.qrcode{
  max-width: 120px;
  min-width: 120px;
}

/* Floating action button */
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:60px;
	right:40px;
	background-color:#0C9;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
}

.my-float{
	margin-top:22px;
}

.navbar {
  z-index: 0;
}
