body{
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif !important;
}
body p{
	font-weight: 100;
    font-size: 20px;
}

h1{
    font-size: 60px !important;
}

.header-secondary{
	color: #BC9F3B;
}

.btn-circle.btn-xl {
   	width: 80px;
    height: 80px;
    padding: 10px 16px;
    font-size: 24px;
    line-height: 1.33;
    border-radius: 45px;
}

/*For News and Updates*/
.news-update-panels h3{
	color: #214E11;
}

.present-carousel{
    margin: auto;
    min-width: 300px;
    max-width: 650px;
}

.present-carousel .present-carousel-item{
    margin: 1rem;
}
.present-carousel .present-carousel-item img{
    max-height: 350px;
    width: inherit;
}

.border-frame-light{
    border: 3px solid #EAEAEA !important; 
    border-radius: 5px !important;
    box-shadow: 0px 5px 5px #333;
}
.border-frame-dark{
    border: 3px solid #EAEAEA !important; 
    border-radius: 5px !important;
    box-shadow: 0px 5px 5px #333;
}



.footer{
    background: #25292b;
    padding: 2rem;
}